<html>
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    ></script>
  </head>
  <body>
    <div
      id="content"
      style="margin: auto; padding: 4px"
      className="card col-sm-12 col-md-12 col-xl-6"
    >
      <div className="card-body">
        <div className="container mb-5 mt-3">
          <div className="row d-flex ">
            <div className="flex text-center">
              <p
                className="mb-0"
                style="
                  color: #f00;
                  font-weight: bold;
                  text-decoration: underline;
                  font-size: 18pt;
                "
              >{{compdata.compName}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>